body {
  font-family: var(--font);
  color: var(--text);
  font-size: 16px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

:root {
  --font: "Roboto", sans-serif;
  --font-sec: "Raleway", sans-serif;
  --accent: #2196f3;
  --white: #ffffff;
  --text: ##212121;
  --text-sec: rgba(117, 117, 117, 1);
  --tagline-bg: #2F303A;
  --team-bg: #F5F4FA;
  --vector-bg: #F5F4FA;
  --items: 3;
  --items-adv: 4;
  --indent: 30px;
  --color-team-icon: rgba(175, 177, 184, 1);
}

.header {
  border-bottom: 1px solid #ECECEC;
  display: block;
  padding: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}

.header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: black;
  display: block;
  color: var(--accent);
}
.header__logo--inverse {
  color: #212121;
}

.mob-button {
  z-index: 1;
}
.mob-button__close {
  display: none;
}
@media screen and (min-width: 768px) {
  .mob-button {
    display: none;
  }
}

.mob-button.is-open .mob-button__menu {
  display: none;
}

.mob-button.is-open .mob-button__close {
  display: block;
}

.header__mob-button {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.header__mob-button:hover svg, .header__mob-button:focus svg {
  fill: var(--accent);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__mob-button {
    display: none;
  }
}

.mob-button__icon {
  fill: #000;
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 480px;
  background-color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-open {
  display: block;
}

.mob-menu__list-nav {
  text-align: left;
  padding-left: 40px;
  padding-top: 48px;
  margin-bottom: 302px;
}

.item-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}

.mob-menu__list-contacts {
  text-align: left;
  padding-left: 40px;
}

.mob-menu__item-contacts:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__item-nav:not(:last-child) {
  margin-bottom: 32px;
}

.item-contacts__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--accent);
}

.item-contacts__address {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--text-sec);
}

.mob-menu__list-social {
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: left;
  margin-top: 64px;
}

.mob-menu__item-social:not(:last-child) {
  border-right: 3px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 20px;
}

.mob-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent);
}

@media screen and (max-width: 767px) {
  .header__hidden-box {
    display: none;
  }
}

.banner {
  padding-bottom: 118px;
  padding-top: 118px;
  margin: 0 auto;
  text-align: center;
  height: auto;
  width: 480px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/banner/banner_mob.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/banner/banner_mob.jpg);
    background-color: var(--tagline-bg);
  }
}

.banner__tagline {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.banner__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  font-family: inherit;
  cursor: pointer;
  background-color: var(--accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
}

.excellence {
  padding-top: 60px;
  padding-bottom: 60px;
}

.excellence__item {
  max-width: 450px;
}

.excellence__icon {
  border-radius: 4px;
  background-color: var(--vector-bg);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: auto;
  padding: 25px 190px;
}

.excellence__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.excellence__explanation {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-sec);
  margin-bottom: 30px;
}

.metier {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .metier {
    display: none;
  }
}

.metier__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.metier__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.metier__item {
  margin-right: 30px;
}
.metier__item:last-child {
  margin-right: 0px;
}

.metier__image {
  position: relative;
}

.metier-caption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.metier-caption__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.team {
  background-color: var(--team-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__item {
  max-width: 450px;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.team__item:last-child {
  margin-bottom: 0;
}

.member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  background-color: var(--white);
}

.member__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-sec);
}

.member__contacts {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  margin-top: 16px;
}

.member__icons:not(:last-child) {
  margin-right: 10px;
}

.member__link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: inherit;
  padding: 12px;
  fill: rgb(175, 177, 184);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.member__link:hover, .member__link:focus {
  fill: #ffffff;
  background-color: var(--accent);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-bottom: 50px;
}

.customers__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customers__item {
  width: 210px;
  height: 92px;
  background: var(--white);
  border-radius: 4px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
.customers__item:nth-child(2n+1) {
  margin-right: 30px;
}
.customers__item:nth-child(n+5) {
  margin-bottom: 0;
}

.customers__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  border-radius: 4px;
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover svg, .customers__link:focus svg {
  fill: var(--accent);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon {
  fill: var(--color-team-icon);
}

.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--tagline-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts__list {
  margin-bottom: 60px;
}

.footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
  display: block;
  color: var(--accent);
  color: var(--accent);
  margin-bottom: 20px;
}
.footer__logo--inverse {
  color: var(--white);
}

.footer-contacts__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-community {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-community__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-community__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 60px;
}

.footer-community__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
}
.footer-community__item:not(:last-child) {
  margin-right: 10px;
}

.footer-community__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: inherit;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.footer-community__link:hover, .footer-community__link:focus {
  background-color: var(--accent);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-community__icon {
  fill: var(--white);
}

.form-subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.form-subscribe__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-subscribe__input {
  background-color: transparent;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  width: 100%;
  margin-bottom: 30px;
}
.form-subscribe__input:focus, .form-subscribe__input:hover {
  border-color: var(--accent);
}
.form-subscribe__input:not(:-moz-placeholder-shown) {
  color: var(--white);
}
.form-subscribe__input:not(:-ms-input-placeholder) {
  color: var(--white);
}
.form-subscribe__input:not(:placeholder-shown) {
  color: var(--white);
}

.form-subscribe__button {
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--accent);
  border-color: var(--accent);
  color: var(--white);
}

.form-subscribe__icon {
  fill: var(--white);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 550ms;
          transition-duration: 550ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--white);
  overflow-y: scroll;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.modal__button:hover svg, .modal__button:focus svg {
  fill: var(--accent);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #000;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  margin: 0 40px;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  padding-top: 40px;
  padding-bottom: 12px;
}

.modal__item {
  position: relative;
}

.modal__label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: var(--text-sec);
  margin-bottom: 4px;
}

.modal__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:hover {
  border-color: var(--accent);
  fill: var(--accent);
  cursor: pointer;
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}
.modal__input:focus + .modal__icon, .modal__input:focus {
  border-color: var(--accent);
  fill: var(--accent);
  cursor: pointer;
}

.modal__list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.modal__icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #000;
  bottom: 10px;
  left: 24px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__comment {
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:hover + .modal__icon, .modal__comment:hover {
  border-color: var(--accent);
  fill: var(--accent);
  cursor: pointer;
}
.modal__comment:focus + .modal__icon, .modal__comment:focus {
  border-color: var(--accent);
  fill: var(--accent);
  cursor: pointer;
}

.modal-agreement {
  width: 370px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-agreement__label {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  left: -13px;
  margin-right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-agreement__check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.modal-agreement__check:checked + .modal-agreement__icon {
  background-color: #2196F3;
  background-image: url(../images/check.svg);
  border-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
}

.modal-agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 13px;
}

.modal-agreement__link {
  text-decoration: underline;
  color: #2196F3;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
}

.modal-agreement__button {
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}
.modal-agreement__button:focus, .modal-agreement__button:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */