.excellence {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (max-width:767px) {
        width: 480px;
        margin: 0 auto;
    }
}
.excellence__list {
    // display: flex;
}
.excellence__item {
    width: 450px;
}

.excellence__icon {
    border-radius: 4px;
    background-color: var(--vector-bg);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 450px;
    height: auto;
    padding: 25px 190px;
}
.excellence__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.excellence__explanation {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-sec);
    margin-bottom: 30px;
}