.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
    display: block;

    padding: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
	margin-right: auto;

    @media screen and (min-width:480px) {
        width: 480px;
    }
}
.header__logo-box {
    display: flex;
    align-items: center;
    
}
.header__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: black;
    margin-right: 93px;
    display: block;
    color: var(--accent);

&--inverse {
    color: #212121;
}
}

.mob-button {
    z-index: 2;
    &__close {
        display: none;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}
.mob-button.is-open .mob-button__menu{
    display: none;
}
.mob-button.is-open .mob-button__close {
    display: block;
}

.header__mob-button {
    position: absolute;
    float: right;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    cursor: pointer;
    border: 0;
    background-color: transparent;

    &:hover svg,
    &:focus svg {
        fill: var(--accent);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}
.mob-button__icon {
    fill: #000;
}
.mob-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    background-color: #fff;
    text-align: center;
    margin-left: auto;
	margin-right: auto;

    @media screen and (max-width:767px) {
        display: none;
    }
    @media screen and (min-width:768px) {
        display: none;
    }
}

.mob-menu.is-open {
    display: block;
}
.mob-menu__list-nav {
    text-align: left;
    padding-left: 40px;
    padding-top: 48px;
    margin-bottom: 302px;
}
.item-nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text);
}
.mob-menu__list-contacts {
    text-align: left;
    padding-left: 40px;
}
.mob-menu__item-contacts {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}
.mob-menu__item-nav {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.item-contacts__tel {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: var(--accent);
}
.item-contacts__address {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: var(--text-sec);
}
.mob-menu__list-social {
    left: 0;
    display: inline-flex;
    text-align: left;
    margin-top: 64px;
}
.mob-menu__item-social {
    

    &:not(:last-child) {
        border-right: 3px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 20px;
    }
}
.mob-menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent);
}

.header-nav {
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
    }
}
.header-nav__list {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

&:not(:last-child) {
    margin-right: 50px;
}
}

.header-nav__item {
&:not(:last-child) {
    margin-right: 50px;
}
}
.header-nav__link {
    position: relative;
    color: var(--text);
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;

&:hover,
&:focus {
    color: var(--accent);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
.header-nav__link--active {
    color: var(--accent);

&::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
}
}
.header-contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }
    display: flex;
    align-items: center;
}
.header-contacts__item {
    text-align: center;
    align-items: center;
}
.header-contacts__link {
    font-style: normal;
    color: var(--text-sec);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color, fill;

&:hover,
&:focus {
    color: var(--accent);
    fill: var(--accent);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.header-contacts__link--indent {
    margin-right: 30px;
    margin-left: 305px;
}
.header-contacts__icon {
    margin-right: 10px;
}