.team {
    background-color: var(--team-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}
.team__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.team__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.team__item {
    
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: 354px;
        flex-wrap: wrap;
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.team__image {
    @media screen and (max-width: 676px) {
        max-width: 100%;
    }
}

.member {
    padding-top: 30px;
    padding-bottom: 30px;
}
.member__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text);
    background-color: var(--white);
}
.member__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-sec);
}
.member__contacts {
    justify-content: center;
    display: flex;
    height: 44px;
    margin-top: 16px;
}
.member__icons {
&:not(:last-child) {
    margin-right: 10px;
}
}
.member__link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: inherit;
    padding: 12px;
    fill: rgba(175, 177, 184, 1);
    transition-property: fill, background-color;

&:hover,
&:focus {
    fill: #ffffff;
    background-color: var(--accent);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}