:root {
    --font: "Roboto", sans-serif;
    --font-sec: "Raleway", sans-serif;
    --accent: #2196f3;
    --white: #ffffff;
    --text: ##212121;
    --text-sec: rgba(117, 117, 117, 1);
    --tagline-bg: #2F303A;
    --team-bg: #F5F4FA;
    --vector-bg: #F5F4FA;

    --items: 3;
    --items-adv: 4;
    --indent: 30px;

    --color-team-icon: rgba(175, 177, 184, 1);
}